        # SSL configuration
        #
        listen 443 ssl;
        listen [::]:443 ssl;

        # RSA certificate
        #
        ssl_certificate /etc/letsencrypt/live/{{ domain }}/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/{{ domain }}/privkey.pem;
        include /etc/letsencrypt/options-ssl-nginx.conf;

        # Redirect non-https traffic to https
        if ($scheme != "https") {
          return 301 https://$host$request_uri;
        }